:root{
  --nav-text-color:rgba(4, 17, 29, 0.75);
  --nav-background-color:#fff;
  --text-1-color:rgba(4, 17, 29, 0.95);
  --text-2-color:rgb(53, 56, 64);
  --blue-color:#2081e2;
  --white-color:#fff;
  --font:'Poppins', sans-serif;
  --border-color:rgb(229, 232, 235);

}